Repository cmb84scd/fact-sorter: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, safety, bandit, test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: just ruff
        language: system
        types: [python]
        pass_filenames: false
      - id: format
        name: format
        entry: just format
        language: system
        types: [python]
        pass_filenames: false
      - id: safety
        name: safety
        entry: just safety
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: bandit
        name: bandit
        entry: just bandit
        language: system
        files: (^\.bandit|^eventbus_learning/)$
        pass_filenames: false
      - id: test
        name: test
        entry: just test
        language: system
        files: (^pytest\.ini|^\.coveragerc|\.py)$
        pass_filenames: false

Add cdk (#3)
  .github/workflows/pipeline.yml
  .gitignore
  .safety-policy.yml
  app.py
  cdk.json
  eventbus_learning/infrastructure/__init__.py
  eventbus_learning/infrastructure/stack.py
  justfile
  poetry.lock
  pyproject.toml
  pytest.ini
  template.yaml
  tests/unit_tests/factories/__init__.py
  tests/unit_tests/factories/stack_resources.py
  tests/unit_tests/infrastructure/__init__.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, safety, test

Add custom event bus
  eventbus_learning/infrastructure/stack.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Add resource name check in lambda role test
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Put the fact onto the eventbus
  eventbus_learning/application/get_fact.py
  pytest.ini
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format, test

Add try except block to execute
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format, test

Amend docstrings and comment in test
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format, test

Add dlq and initial tests
  eventbus_learning/infrastructure/stack.py
  tests/unit_tests/factories/stack_resources.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Add test for dlq policy
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Update deps and remove cfn-lint
  .safety-policy.yml
  poetry.lock
  pyproject.toml
Due: safety

Remove cfn-lint from justfile
  justfile
Due: none

Add eventbus (#4)
  .safety-policy.yml
  eventbus_learning/application/get_fact.py
  eventbus_learning/infrastructure/stack.py
  justfile
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/unit_tests/application/test_get_fact.py
  tests/unit_tests/factories/stack_resources.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, safety, test

Update aws cdk dep
  poetry.lock
  pyproject.toml
Due: safety

Adjust naming of stack for consistency
  app.py
  eventbus_learning/infrastructure/stack.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Add sample deploy job
  .github/workflows/pipeline.yml
Due: none

Amend pipeline so it runs on push for testing
  .github/workflows/pipeline.yml
Due: none

Amend deploy job
  .github/workflows/pipeline.yml
Due: none

Update deploy job to setup node and install CDK
  .github/workflows/pipeline.yml
Due: none

Add secrets to deploy job
  .github/workflows/pipeline.yml
Due: none

Connect to AWS account in pipeline
  .github/workflows/pipeline.yml
Due: none

Add id token permission
  .github/workflows/pipeline.yml
Due: none

Deploy stack
  .github/workflows/pipeline.yml
Due: none

Add verbose to deploy for debugging
  .github/workflows/pipeline.yml
Due: none

Export requirements.txt to make deps available
  .github/workflows/pipeline.yml
Due: none

Amend export command and remove verbose from deploy
  .github/workflows/pipeline.yml
Due: none

Output requirements file to check it exists
  .github/workflows/pipeline.yml
Due: none

Try deploying using poetry
  .github/workflows/pipeline.yml
Due: none

Synth to see if this works
  .github/workflows/pipeline.yml
Due: none

Try export, synth and then deploy
  .github/workflows/pipeline.yml
Due: none

Update the cdk.json exclude section
  cdk.json
Due: none

Update the cdk.json include section
  cdk.json
Due: none

Remove include and exclude from watch
  cdk.json
Due: none

Add build command to cdk.json
  cdk.json
Due: none

Amend install cmd and add debug comments in pipeline
  .github/workflows/pipeline.yml
  cdk.json
Due: none

Simplify deployment
  .github/workflows/pipeline.yml
  cdk.json
Due: none

Build and package deps prior to deployment
  .github/workflows/pipeline.yml
Due: none

Move aws deps to dev and point code to zip file
  eventbus_learning/infrastructure/stack.py
  poetry.lock
  pyproject.toml
Due: ruff, format, safety, test

Add build recipe and use it in pipeline
  .github/workflows/pipeline.yml
  .gitignore
  justfile
Due: none

Amend route to lambda handler
  eventbus_learning/infrastructure/stack.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Add lambda to root of package zip
  eventbus_learning/infrastructure/stack.py
  justfile
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Dont copy code to package and dont zip it
  .gitignore
  eventbus_learning/infrastructure/stack.py
  justfile
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test
