Repository cmb84scd/fact-sorter: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, safety, bandit, test

ruff:
  name: ruff
  entry: just ruff
  language: system
  pass_filenames: false

format:
  name: format
  entry: just format
  language: system
  pass_filenames: false

safety:
  name: safety
  entry: just safety
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: just bandit
  language: system
  pass_filenames: false

test:
  name: test
  entry: just test
  language: system
  pass_filenames: false

Reset when pipeline runs and add back security job
  .github/workflows/pipeline.yml
Due: none

Amend build package name in test job
  .github/workflows/pipeline.yml
Due: none

Add safety to needs in deploy job
  .github/workflows/pipeline.yml
Due: none

Add deploy stack job (#5)
  .github/workflows/pipeline.yml
  .gitignore
  app.py
  cdk.json
  eventbus_learning/infrastructure/stack.py
  justfile
  poetry.lock
  pyproject.toml
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, safety, test

Add missing env var to lambda
  eventbus_learning/infrastructure/stack.py
  tests/unit_tests/factories/stack_resources.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Add put events permission to lambda
  eventbus_learning/infrastructure/stack.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Use os instead of decouple
  app.py
  eventbus_learning/application/get_fact.py
  poetry.lock
  pyproject.toml
Due: ruff, format, safety, test

Run pipeline to deploy to test changes
  .github/workflows/pipeline.yml
Due: none

Add base lambda and use it in get fact lambda
  eventbus_learning/application/base/handler.py
  eventbus_learning/application/get_fact.py
Due: ruff, format, test

Add custom logger to solve error and have nice logs
  eventbus_learning/application/base/handler.py
  eventbus_learning/application/base/logger.py
  justfile
Due: ruff, format, test

Use correct logger in unit tests
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format, test

Add serializer to logger
  eventbus_learning/application/base/logger.py
Due: ruff, format, test

Add function to output logs
  eventbus_learning/application/base/logger.py
Due: ruff, format, test

Add logger unit tests and exception dict method
  eventbus_learning/application/base/logger.py
  tests/unit_tests/application/base/test_logger.py
Due: ruff, format, test

Add unit tests for base handler
  tests/unit_tests/application/base/test_base_handler.py
Due: ruff, format, test

Add error handling to base handler
  eventbus_learning/application/base/handler.py
Due: ruff, format, test

Change url to deployed one
  eventbus_learning/application/get_fact.py
  tests/unit_tests/application/test_get_fact.py
Due: ruff, format, test

Revert pipeline file back
  .github/workflows/pipeline.yml
Due: none

Remove unnecessary log and add tests
  eventbus_learning/application/base/handler.py
  tests/unit_tests/application/base/test_base_handler.py
Due: ruff, format, test

Revert justfile test fail under percentage
  justfile
Due: none

Update deps and safety policy
  .safety-policy.yml
  poetry.lock
  pyproject.toml
Due: safety

Add additional dlq assertion to lambda properties test
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, test

Fix get fact handler (#6)
  .safety-policy.yml
  app.py
  eventbus_learning/application/base/handler.py
  eventbus_learning/application/base/logger.py
  eventbus_learning/application/get_fact.py
  eventbus_learning/infrastructure/stack.py
  poetry.lock
  pyproject.toml
  tests/unit_tests/application/base/test_base_handler.py
  tests/unit_tests/application/base/test_logger.py
  tests/unit_tests/application/test_get_fact.py
  tests/unit_tests/factories/stack_resources.py
  tests/unit_tests/infrastructure/test_stack.py
Due: ruff, format, safety, test

Move cdk code out of eventbus_learning folder
  app.py
  cdk/__init__.py
  cdk/eb_learning_stack.py
  eventbus_learning/infrastructure/__init__.py
  tests/unit_tests/cdk/__init__.py
  tests/unit_tests/cdk/test_stack.py
Due: ruff, format, test

Update configs
  .coveragerc
  pytest.ini
  ruff.toml
Due: test

Complete reorganisation of test folder
  tests/unit_tests/cdk/factories/__init__.py
  tests/unit_tests/cdk/factories/stack_resources.py
  tests/unit_tests/cdk/test_stack.py
  tests/unit_tests/eventbus_learning/__init__.py
  tests/unit_tests/eventbus_learning/application/__init__.py
  tests/unit_tests/eventbus_learning/application/base/test_base_handler.py
  tests/unit_tests/eventbus_learning/application/base/test_logger.py
  tests/unit_tests/eventbus_learning/application/test_get_fact.py
Due: ruff, format, test

Rename test stack file
  tests/unit_tests/cdk/test_eb_learning_stack.py
Due: ruff, format, test

Move CDK code (#7)
  .coveragerc
  app.py
  cdk/__init__.py
  cdk/eb_learning_stack.py
  eventbus_learning/infrastructure/__init__.py
  pytest.ini
  ruff.toml
  tests/unit_tests/cdk/__init__.py
  tests/unit_tests/cdk/factories/__init__.py
  tests/unit_tests/cdk/factories/stack_resources.py
  tests/unit_tests/cdk/test_eb_learning_stack.py
  tests/unit_tests/eventbus_learning/__init__.py
  tests/unit_tests/eventbus_learning/application/__init__.py
  tests/unit_tests/eventbus_learning/application/base/test_base_handler.py
  tests/unit_tests/eventbus_learning/application/base/test_logger.py
  tests/unit_tests/eventbus_learning/application/test_get_fact.py
Due: ruff, format, test

Rename project to fact sorter
  .coveragerc
  .pre-commit-config.yaml
  README.md
  fact_sorter/__init__.py
  fact_sorter/application/__init__.py
  fact_sorter/application/base/handler.py
  fact_sorter/application/base/logger.py
  fact_sorter/application/get_fact.py
  justfile
  pyproject.toml
  pytest.ini
  ruff.toml
  tests/unit_tests/eventbus_learning/application/base/test_base_handler.py
  tests/unit_tests/eventbus_learning/application/base/test_logger.py
  tests/unit_tests/eventbus_learning/application/test_get_fact.py
Due: ruff, format, test

Rename folder in tests and add missing init file
  tests/unit_tests/fact_sorter/__init__.py
  tests/unit_tests/fact_sorter/application/__init__.py
  tests/unit_tests/fact_sorter/application/base/__init__.py
  tests/unit_tests/fact_sorter/application/base/test_base_handler.py
  tests/unit_tests/fact_sorter/application/base/test_logger.py
  tests/unit_tests/fact_sorter/application/test_get_fact.py
Due: ruff, format, test

Update cdk to reflect new name
  app.py
  cdk.json
  cdk/fact_sorter_stack.py
  tests/unit_tests/cdk/test_fact_sorter_stack.py
Due: ruff, format, test

Update bandit recipe to reflect new name
  justfile
Due: none

Update init file in fact sorter folder
  fact_sorter/__init__.py
Due: ruff, format, test

Update readme project summary paragraph
  README.md
Due: none

Rename project (#8)
  .coveragerc
  .pre-commit-config.yaml
  README.md
  app.py
  cdk.json
  cdk/fact_sorter_stack.py
  eventbus_learning/__init__.py
  fact_sorter/__init__.py
  fact_sorter/application/__init__.py
  fact_sorter/application/base/handler.py
  fact_sorter/application/base/logger.py
  fact_sorter/application/get_fact.py
  justfile
  pyproject.toml
  pytest.ini
  ruff.toml
  tests/unit_tests/cdk/test_fact_sorter_stack.py
  tests/unit_tests/fact_sorter/__init__.py
  tests/unit_tests/fact_sorter/application/__init__.py
  tests/unit_tests/fact_sorter/application/base/__init__.py
  tests/unit_tests/fact_sorter/application/base/test_base_handler.py
  tests/unit_tests/fact_sorter/application/base/test_logger.py
  tests/unit_tests/fact_sorter/application/test_get_fact.py
Due: ruff, format, test

Add cat lambda and associated tests
  cdk/fact_sorter_stack.py
  tests/unit_tests/cdk/factories/stack_resources.py
  tests/unit_tests/cdk/test_fact_sorter_stack.py
Due: ruff, format, test

Reorganise cdk tests
  tests/unit_tests/cdk/test_fact_sorter_stack.py
Due: ruff, format, test

Add base lambda construct
  cdk/fact_sorter_stack.py
  cdk/lambda_function.py
  tests/unit_tests/cdk/test_fact_sorter_stack.py
Due: ruff, format, test

Amend cat lambda tests to reflect new dlq
  tests/unit_tests/cdk/test_fact_sorter_stack.py
Due: ruff, format, test

Add eventbus dlq
  cdk/fact_sorter_stack.py
  tests/unit_tests/cdk/test_fact_sorter_stack.py
Due: ruff, format, test

Path conditions:
  ruff: any of: \.py$
  format: any of: \.py$
  safety: any of: poetry.lock
  bandit: any of: (^\.bandit|^eventbus_learning/)$
  test: any of: (^pytest\.ini|^\.coveragerc|\.py)$
